/*Estilos de Registrarse*/  

    /*Formulario*/
    #registrarte__lijheam {
        width: 500px;
        height: 650px;
        display: block;
        margin: 0 auto;
        margin-top: 2rem;
        background-color: yellow;
    }