*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
img {
    max-width: 100%;
}

.lupa {
    width: 10px;
}

.fondo__nav {
    margin: 0;
    width: 100%;
    height: 65px;
    background-color: $color-septimo;
}
.img__logo{
    width: $tamanoChico;
}

.img__barra {
    width: $tamanoExtraChico;
}

.nav__img {
    width: $tamanoExtraChico;
}
.nav__logo {
    padding: 10px 8px;
}
/*Input Buscar*/
.lupa_uno{
    font: inherit;
}

.buscar {
    margin:  auto;
    display: flex;
    justify-content: center;
    margin-top: -50px;
}
.buscar div {
    display: flex;
    background: #fff;
    padding: 9px 22px 9px 26px;
    border-radius: 30px;
    border: 2px solid #cad3dc;
    box-shadow: rgba(255, 255, 255, 0.5) -8px -8px 15px,
                rgba(0, 0, 0, 0.1) 10px 10px 10px,
                rgba(255, 255, 255, 0.5) -8px -8px 15px inset,
                rgba(0, 0, 0, 0.1) 10px 10px 10px inset;
}
.buscar .lupa_uno {
    border: none;
    background: transparent;
    font-weight: bold;
    padding-left: 24px;
    background-image: url(../img/lupa.png);
    background-size: 16px;
    background-repeat: no-repeat;
    width: 0px;
    transition: all 0.1s;
}
.buscar .lupa_uno:focus {
    outline: none;
    width: 135px;
}
/*Barra de menu*/
#btn-menu {
    display: none;
}

.fondo__nav label {
    display: inline-block;
    position: absolute;
    top: 7px;
    right: 14px;
    /*width: 47px; */
     /*height: 44px; */
    padding: 10px;
    /* border: 2px solid red; */
}   

.fondo__nav label:hover {
    cursor: pointer;
}
.nav__menu {
    position: absolute;
    background-color: $color-secundario;
    width: 100%;
    margin-top: 24px; /*Esto va enganchado con le margin: 24px de #btn-menu:checked ~ .nav__menu */
    margin-left: -100%;
    transition: all 0.5s;
    font-family: $fuentePrincipal;
    z-index: 1;
}
.nav__menu a {
    color: $color-terciario;
}
.nav__menu span {
    padding: 1rem;
    font-size: 10px;
}
.nav__menu ul{
    margin: 0;
    list-style: none;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 2rem;
}

.nav__menu li {
    border-top: 1px solid #fff;
}

#btn-menu:checked ~ .nav__menu {
    margin: 24px -0px;
}

/*Carrusel de Imagenes del Inicio de la pagina  start*/

.body_inicio {
    padding: 0;
    margin: 0;
    /* height: 100vh;*/
    justify-self: center;
    align-items: center;
}

.calidad_empresa {
    margin-top: 1rem;
    text-align:  center;
}
.section {
    margin: 0;
    padding: 0;
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    width: 270px;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
}

.slide {
    width: 500%;
    height: 500px;
    display: flex;
}

.slide input{
    display: none;
}

.st {
    width: 20%;
    transition: 2s;
}

.st img {
    width: 270px;
    height: 300px;
}

.nav-m {
    position: absolute;
    left: 3px;
    width: 100%;
    top: 400px;
    display: flex;
    justify-content: center;
}
.m-btn {
    border: 2px solid #23e3c2;
    padding: 3px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.m-btn:not(:last-child){
    margin-right: 30px;
}

.m-btn:hover{
    background: #23e3c2;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}
/*Esto va enganchado con .nav-m por si queres hacer modificaciones*/
.nav-auto{
    position: absolute;
    left: 3px;
    width: 100%;
    top: 400px;
    display: flex;
    justify-content: center;
}

.nav-auto div {
    border: 2px solid #23e3c2;
    padding: 3px;
    border-radius: 10px;
    transition: 1s;
}
.nav-auto div:not(:last-child){
    margin-right: 30px;
    justify-content: center;
}
#radio1:checked ~ .nav-auto .a-b1{
    background-color: #23e3c2;
}
#radio2:checked ~ .nav-auto .a-b2{
    background-color: #23e3c2;
}
#radio3:checked ~ .nav-auto .a-b3{
    background-color: #23e3c2;
}
#radio4:checked ~ .nav-auto .a-b4{
    background-color: #23e3c2;
}
/*Carrusel de Imagenes del Inicio de la pagina  end*/
footer {
    margin-top: $espacioGrande;
    @include flex-columna;
    h3 {
        text-align: center;
    }

    .container-redes a {
        color: $color-terciario;
        text-decoration: none;
        font-size: $icono-chico;
    }
}
/*Footer end*/

/*Desktop*/

/*Responsive a Desktop 1200px de la barra de Inicio start*/
@media (min-width: $desktopXG) {
    /*header Color amariilo start*/
    .fondo__nav {
        height: 105px;
    } 
    /*header Color amariilo end*/ 

    /*Tamaño Logo (Lijheam) start*/
    .img__logo{
        width: 100px;
    }
    /*Tamaño Logo (Lijheam) end*/

    /*Boton Buscar start*/
    .buscar {
        margin-top: -75px;
    }
    /*Boton Buscar end*/

    /*Imagen del a barra de (Nav) start*/
    .img__barra {
        width: 50px;
    } 
    /*Imagen del a barra de (Nav) end*/

    /*Para mover el (Nav) start*/
    .fondo__nav label {
        right: 20px; 
    }
    /*Para mover el (Nav) end*/

    /*Para cambiar el tamaño de los iconos del menu de (Nav) start*/
    .nav__img {
        width: $tamanoChico;
    }
    /*Para cambiar el tamaño de los iconos del menu de (Nav) end*/

    /*Para cambiar tamaño de letra del menu de (Nav) start*/
    .nav__menu span {
        font-size: 20px;
    }
    /*Para cambiar tamaño de letra del menu de (Nav) end*/

    /*Para mover el (Nav) start*/
    .nav__menu {
        margin-top: 36px;
    }

    #btn-menu:checked ~ .nav__menu {
        margin: 36px -0px;
    }
    /*Para mover el (Nav) end*/
    /*Titulo del carrusel   start*/
    .calidad_empresa{
        background-color: $color-primario;
        border: none;
        border-radius: 10px;
        width: 450px;
        display: block;
        margin: auto;
        margin-top: 100px;
    }
    /*Titulo del carrusel  end*/

    /*Carrusel start*/
    
    .section {
        margin-top: 100px;
    }
    .slider {
        width: 800px;
        height: 500px;
    }

    .st img {
        width: 800px;
        height: 500px;
    }

    .nav-m {
        position: absolute;
        left: 5px;
        width: 100%;
        margin-top: 450px;
    }

    .nav-auto{
        position: absolute;
        left: 5px;
        width:100%;
        margin-top: 450px;
    }
    /*Carrusel end*/
}


/*Responsive a Desktop 1200px de la barra de Inicio end*/