
/*Estilos de Ingresar*/

    /*Titulo*/
    #ingresar__lijheam {
        width: 500px;
        height: 400px;
        display: block;
        margin: 0 auto;
        margin-top: 8rem;
        background-color: yellow;
        
    }